[submodule "extern/libigl"]
	path = extern/libigl
	url = https://github.com/libigl/libigl.git
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl
